// See https://www.fancade.com/wiki/fancade-colors-in-hex-format
:root {
  --light-brown: #e79f9d;
  --brown: #c57184;
  --dark-brown: #985660;
  --light-tan: #fff9f7;
  --tan: #ffdfc8;
  --dark-tan: #ffbcae;
  --light-purple: #ba92ff;
  --purple: #9476e3;
  --dark-purple: #6e58a9;
  --light-pink: #ffc4f4;
  --pink: #ff9ed9;
  --dark-pink: #f777b4;
  --light-red: #ffa4a4;
  --red: #ff4e6f;
  --dark-red: #c73853;
  --light-orange: #ffb389;
  --orange: #ff7758;
  --dark-orange: #d15544;
  --light-yellow: #ffff81;
  --yellow: #ffe200;
  --dark-yellow: #f0b300;
  --light-green: #bbff72;
  --green: #45c952;
  --dark-green: #008f50;
  --light-blue: #00c9ff;
  --blue: #0096ff;
  --dark-blue: #0071e5;
  --white: #ffffff;
  --gray1: #c6c9d3;
  --gray2: #9699a9;
  --gray3: #696b7c;
  --gray4: #424252;
  --black: #1e1e28;
}
