---
import Layout from "@layouts/Layout.astro";
import Heading from "@fancade-club/comps/layouts/Heading.astro";
---

<Layout title="Contact">
  <Heading level={2} id="community">Community</Heading>
  <p>
    This is a community-driven project. There will be a Discord server in the
    future.
  </p>

  <Heading level={2} id="issues">Contributing</Heading>
  <p>
    If you have an idea on how to improve the Fancade Club, you can contribute
    or open an issue on our <a href="https://github.com/dittocade"
      >GitHub organization</a
    >.
  </p>

  <Heading level={2} id="inquiries">Inquiries</Heading>
  <p>
    The Fancade Club has been created by <strong>bricked</strong>. In order to
    reach out to me, see <a href="https://bricked.dev/about">my about page</a>.
  </p>
</Layout>
