---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Contact">
  <h2 id="community">Community</h2>
  <p>
    This is a community-driven project. There will be a Discord server in the
    future.
  </p>
  <h2 id="inquiries">Inquiries</h2>
  <p>
    The Fancade Club has been created by <strong>bricked</strong>. In order to
    reach out to me, see <a href="https://bricked.dev/about">my about page</a>.
  </p>
</Layout>
