---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Disclaimer">
  <p>
    The <strong>Fancade Club</strong> is not affiliated with, endorsed, or sponsored
    by <strong>Fancade</strong> or its creators. All trademarks, copyrights, and
    intellectual property rights associated with <strong>Fancade</strong> belong
    to their respective owners. This website is a third-party service provided by
    the <strong>Fancade Club Community</strong> and is intended for entertainment
    purposes only.
  </p>
</Layout>
