---
import Layout from "@layouts/Layout.astro";
import Heading from "@fancade-club/comps/layouts/Heading.astro";
---

<Layout title="Welcome!">
  <p>
    The Fancade Club is a worldwide community of Fancade enthusiasts. Join and
    become a member today!
  </p>
  <Heading level={2} id="services">Services</Heading>
</Layout>
