---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Fancade Club"
  description="The Fancade Club is a worldwide community of Fancade enthusiasts. Join and become a member today!"
>
  <h1>Welcome to the Fancade Club!</h1>
  <p>
    The Fancade Club is a worldwide community of Fancade enthusiasts. Join and
    become a member today!
  </p>
</Layout>
