---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Welcome to the Fancade Club."
  description="The Fancade Club is a worldwide community of Fancade enthusiasts. Join and become a member today!"
>
  <main>Welcome to the Fancade Club</main>
</Layout>
