---

---

<footer>
  <div class="content">
    We are <strong>not</strong> affiliated with <strong>Fancade</strong>. See <a
      href="/affiliation">more about affiliation</a
    >. For inquiries please <a href="/contact">contact us</a>.
  </div>
</footer>

<style>
  footer {
    position: sticky;
    bottom: 0em;
    background-color: white;
    box-shadow: 0 -8px 6px -8px black;
  }
  .content {
    width: 100%;
    max-width: 800px;
    padding: 1em 1em;
    text-align: center;
    margin: auto;
  }
</style>
