---
import Icon from "@assets/icon.png";
import "@fontsource-variable/baloo-2";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

interface Props {
  title?: string;
  description?: string;
}

let { title = "", description = "" } = Astro.props;

description ||=
  "The Fancade Club is a worldwide community of Fancade enthusiasts. Join and become a member today!";

if (title) title += " - ";
title += "Fancade Club";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={Icon.src} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  body {
    min-height: 100vh;
    color: #333333;
    font-size: 14pt;
    font-family: "Baloo 2 Variable", system-ui;
    font-weight: 500;
    text-align: justify;
  }
  main {
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
  }
</style>
